
body{
	background-color: #2E2E2E;
}

.root{
  text-align: center;
  max-width: 600px;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  line-height: normal;
  color: #FFF;
  background-color: #2979ff;
  border-radius: 18px;
  font-size: 32px;

}
#clipart_image{
  max-width: 200px;
  margin: 20px;
}

.button{
  text-align: center;
  margin: 0 auto;
  background-color: #2979ff;
  font-size: 25px;
  border:0px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
  outline: none;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  cursor: pointer;

}
.container{
  text-align: center;
}


header{
background-color:#2E2E2E;
font-size:20px;
padding:15px;
color: #FFF;
margin-bottom:10px;
text-align: center;
font-family: 'Space Mono', monospace;
text-transform: uppercase;
}

.mdl-button{
	margin-top: 8px !important;
}

.heading{
	font-size: 18px;
	color: #FFF;
}